<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>quotationInfoList</key>
	<array>
		<dict>
			<key>index</key>
			<string>2</string>
			<key>Name</key>
			<string>南京文交所</string>
		</dict>
		<dict>
			<key>index</key>
			<string>3</string>
			<key>Name</key>
			<string>金马甲</string>
		</dict>
		<dict>
			<key>index</key>
			<string>4</string>
			<key>Name</key>
			<string>南方文交所</string>
		</dict>
		<dict>
			<key>index</key>
			<string>5</string>
			<key>Name</key>
			<string>江苏文交所</string>
		</dict>
		<dict>
			<key>index</key>
			<string>6</string>
			<key>Name</key>
			<string>华夏文交所</string>
		</dict>
		<dict>
			<key>index</key>
			<string>17</string>
			<key>Name</key>
			<string>广州邮币卡</string>
		</dict>
		<dict>
			<key>index</key>
			<string>18</string>
			<key>Name</key>
			<string>福丽特</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>天津文交所</string>
		</dict>
		<dict>
			<key>index</key>
			<string>35</string>
			<key>Name</key>
			<string>金陵文交所</string>
		</dict>
		<dict>
			<key>index</key>
			<string>38</string>
			<key>Name</key>
			<string>河北邮币卡</string>
		</dict>
		<dict>
			<key>index</key>
			<string>63</string>
			<key>Name</key>
			<string>安贵票证</string>
		</dict>
		<dict>
			<key>index</key>
			<string>67</string>
			<key>Name</key>
			<string>湖南华艺</string>
		</dict>
	</array>
</dict>
</plist>
